<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Insert title here</title>

		<script type="text/javascript" src="../js/jquery-1.6.2rc1.js"></script>
		<script type="text/javascript" src="../js/jquery-ui-1.8.9.custom.js"></script>
		<script language="JavaScript">

			function toDesktop(sUrl,sName){
				try{
					var WshShell =new ActiveXObject("WScript.Shell");
					
					var oUrlLink = WshShell.CreateShortcut(WshShell.SpecialFolders("Desktop") + "\\"+ sName +".url");
					oUrlLink.TargetPath = sUrl;
					oUrlLink.Save();
				
				}
				catch(e)
				{
					alert("当前IE安全级别不允许操作！请设置后在操作.");
				}
			}
		</script>


	</head>
	<body>
		<input name="btn" type="button" id="btn" value="创建的快捷方式"
			onClick="toDesktop('http:\//www.boshi8.com/','博士吧')">

	</body>
</html>