#macro(tableFlexi $flexiTableId,$tableModel, $buttons)
   <div>
	<script type="text/javascript" src="#springUrl('/js/core/page/table.js')"></script>
	<table cellpadding="0" cellspacing="0" border="0" bgcolor="#F6F6F6" width="100%" class="tableHead">
	<tr>
	  <td align="left">#dojoButtonGroup($buttons)</td>
	  <td align="right">
	  	#if( $tableModel.paging )
		   #page($tableModel.page $tableModel.displayCount)
	    #end
	  </td>
	</tr>
	</table>
	<table id="$flexiTableId" cellpadding="0" cellspacing="0" border="0">
		<thead>
			<tr>
				#if($tableModel.hasIndex)
				<th width="32" align="center">
					ÐòºÅ
				</th>
				#end
				#foreach( $_column in $tableModel.columns )
				<th width="$_column.width" align="center">
					#if($_column.checkbox)
				<input type="checkbox" id="list_selectAll" onChange="selectAll();" />
				<script>
				  var checkCount=0;
				  $("#list_selectAll").checkbox();
				</script>
					#else
				$_column.label
					#end
				</th>
				#end
			</tr>
		</thead>
		<tbody id="_table_list_id_">
			#set($_rowIndex = ($tableModel.page.currentPage - 1) * $tableModel.page.pageSize)
			#foreach( $_row in $tableModel.data)
				$tableModel.setRow($_row)
				#if( ${velocityCount} % 2 == 0)
				<tr id='tr_$tableModel.getProp($tableModel.columns.get(0).name)' class = "alternateRow" onMouseOver="this.className='selected'" onMouseOut="this.className='alternateRow'">
				#else
				<tr id='tr_$tableModel.getProp($tableModel.columns.get(0).name)'  class = "noselected" onMouseOver="this.className='selected'" onMouseOut="this.className='noselected'">
				#end
				#if($tableModel.hasIndex)
				<td width="32" align="center">
					#set($_rowIndex = $_rowIndex + 1)
					$_rowIndex
				</td>
				#end
				#set($outCount=$velocityCount)
				#foreach(  $_column in $tableModel.columns )
					<td align="$_column.align" #if($_column.titleTrim != '')title="$_column.titleTrim"#end>
						#if( $_column.checkbox)
					<input type="checkbox" id="list_cb_${outCount}" name="selectedIds"  value="$!tableModel.getProp($_column.name)"/>
						<script>
						function checkchoose_${outCount}(){
						
						}
						$("#list_cb_${outCount}").checkbox();
				  		checkCount=${outCount};
				</script>
						#elseif ( $_column.link != '')
					<a href="#if($_column.pop)javascript:doTab('$_column.tabid','$_column.tabname','$tableModel.parse($_column.link)','$_column.show');#else$tableModel.parse($_column.link)#end">$!tableModel.getProp($_column.name)</a>
						#else
				$!tableModel.getProp($_column.name)
						#end
					</td>
				#end
				</tr>
			#end
		</tbody>
	</table>
   </div>
  <script>
    $(document).ready(function(){
           $('thead tr th',$("#$flexiTableId")).each(function(){
		      var w=$(this).width();
		      $(this).css('width',w);
		    });
           $('tbody tr:first td',$("#$flexiTableId")).each(function(){
		      var w=$(this).outerWidth();
		      $(this).css('width',w);
		    });
		  var theight=$(document).height()-$('#$flexiTableId').position().top-60;
     	$('#$flexiTableId').flexigrid({striped:true,height:theight});
    });
 
  </script>
#end