<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	<!--数据库模块-->
	<import resource="classpath:config/DBConfig.xml" />

	<!--Bean管理模块-->
	<import resource="core-context.xml" />

	<!-- 事务模块配置 -->
	<import resource="core-tx.xml" />

	<!-- 国际化配置 -->
	<import resource="i18n.xml" />


	<!-- 功能模块  -->
	<import resource="pub-context.xml" />
	<import resource="info-context.xml" />
	<!-- 
	<import resource="gis-context.xml" />
	 -->

</beans>
