<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<title>用户管理</title> 
		#set($topHeight=77)
		#Head()
		<link rel="stylesheet" href="#springUrl('')/js/jquery/themes/zTreeStyle/zTreeStyle.css" type="text/css">
		<script type="text/javascript" src="#springUrl('')/js/jquery/plugins/jquery.ztree-2.6.min.js"></script>
		<script type="text/javascript" src="#springUrl('/js/core/user/user.js')"></script>
		<script type="text/javascript" src="#springUrl('/js/core/page/select.js')"></script>
	    <script type="text/javascript">
				function checking(){
					var returnvalue="$!MSG";
					if(returnvalue=="")
					{}
					else
					{
						notify('$MSG');
					}
				}
				function ChangeValue(value){
					document.forms[0].action= _appContext + '/user/userManager.do?action=editUser';
					document.forms[0].submit();
				}
				
				var zTree;
				var setting = {
						isSimpleData: true,
						treeNodeKey: "id",
						treeNodeParentKey: "pId",
						fontCss: setFont,
						showLine: false,
						root:{ 
							isRoot:true,
							nodes:[]
						},
						callback: {
							click: zTreeOnClick
						}
					};
				function showMenu() {
					jQuery.ajax({
						url:"#springUrl('')/org/orgManager.do?action=selectOrgToTree",//请求的action路径
						type: 'POST',
						data: {},
						error: function () {//请求失败处理函数
							alert('请求失败');
						},
						success:function(data,status){ //请求成功后处理函数。  
							zNodes = eval(data);   //把后台封装好的简单Json格式赋给treeNodes
						}
					});
					zTree = jQuery('#ztree').zTree(setting, zNodes);
					jQuery("body").bind("mousedown", 
							function(event){
								if (!(event.target.id == "menuBtn" || event.target.id == "DropdownMenuBackground" 
										|| $(event.target).parents("#DropdownMenuBackground").length>0)) {
									hideMenu();
								}
					});
					var cityObj = $("#orgName");
					var cityOffset = $("#orgName").offset();
					jQuery("#DropdownMenuBackground").css({left:cityOffset.left + "px", top:cityOffset.top + cityObj.outerHeight() + "px"}).slideDown("fast");
					
				}
				function setFont(treeId, treeNode) {
					if (treeNode && treeNode.isParent) {
						return {color: "blue"};
					} else {
						return null;
					}
				}
				function hideMenu() {
					jQuery("#DropdownMenuBackground").fadeOut("fast");
				}	
				
				function zTreeOnClick(event, treeId, treeNode) {
					if (treeNode) {
						if(treeNode.name=="工作区"){
							return ;
						}
						else{
							var cityObj = jQuery("#orgName");
							cityObj.attr("value", treeNode.name);
							
							var idObj=jQuery("#orgId");
							idObj.attr("value", treeNode.id);
							hideMenu();						
						}
					}
				}
				var zNodes;
				jQuery(document).ready(function(){
					hideMenu();
					jQuery.ajax({
						url:"#springUrl('')/org/orgManager.do?action=selectOrgToTree",//请求的action路径
						type: 'POST',
						data: {},
						error: function () {//请求失败处理函数
							alert('请求失败');
						},
						success:function(data,status){ //请求成功后处理函数。  
							zNodes = eval(data);   //把后台封装好的简单Json格式赋给treeNodes
						}
					});
				});
				
                function saveSubmit(){
                    var targetOptions=document.getElementById('roleCodes').options;
             		for(var i = 0; i < targetOptions.length; i++){
             			targetOptions[i].selected = true;
             		}
                }  
		</script>
	</head>
	<body onload="checking()"> 
	<div id="DropdownMenuBackground" style="display:none; position:absolute; height:200px; min-width:160px; background-color:white;border:1px solid; margin-left:-7px;margin-top:-3px;overflow-y:auto;overflow-x:auto;">
	<ul id="ztree" class="ztree"></ul>
    </div>
		#Form("editForm","#springUrl('')/user/userManager.do?action=updateUser",{"method":"post","style":"width:100%","onSubmit":"saveSubmit()"})
		    <br />
			<div class="yk_NodeTxt">
			   <span style="color:#1c3d8a;margin-top:-3px;">修改用户基本信息</span>
		    </div>
			<div>
			        <input type="hidden" id="password" name="user.password" class="text2" value="$!cmd.user.password" />
					<table align="center" class="yk_table">
							<tbody>
								<tr>
									<td class="yk_td_title">
										<font color="red">*</font>用户编号：
									</td>
									<td class="yk_td_content" style="PADDING-LEFT: 2px;width:23%;">
									    #Text("user.userCode","$!cmd.user.userCode",{"readOnly":true})
									</td>
									<td align="center" class="yk_td_title">
										<font color="red">*</font>用户名称：
									</td>
									<td class="yk_td_content" style="PADDING-LEFT: 2px;width:23%;">
									    #ValidationText("user.userName","$!cmd.user.userName",{"required":"true"})
									</td>
									<td align="center" class="yk_td_title">
										用户类型：
									</td>
									<td class="yk_td_content" style="PADDING-LEFT: 2px;width:23%;">
									    #if(${cmd.user.userProp}==3)
									    <input type="hidden" id="user.userProp" name="user.userProp" value="$!{cmd.user.userProp}" />
									    #Text("user.userProp_name","超级管理员",{"readOnly":true})
									    #else
									    #Select("user.userProp","$!{cmd.user.userProp}",${cmd.typeAddAndEditOption},"value","label",{"emptyOption":true})
									    #end
									</td>
								</tr>
								<tr>
									<td align="center" class="yk_td_title">
										固定电话：
									</td>
									<td class="yk_td_content" style="PADDING-LEFT: 2px;width:23%;">
									    #NumberText("user.tel","$!cmd.user.tel",{})					    
									</td>
									<td align="center" class="yk_td_title">
										手机：
									</td>
									<td class="yk_td_content" style="PADDING-LEFT: 2px;width:23%;">
									    #PhoneText("user.mobile","$!cmd.user.mobile",{})
									</td>
									<td align="center" class="yk_td_title">
										是否停用
									</td>
									<td class="yk_td_content" style="PADDING-LEFT: 2px;width:23%;">
									    #Select("user.isStop","$!{cmd.user.isStop}",${cmd.stopOption},"value","label",{"emptyOption":true})
									</td>
								</tr>
								<tr>
									
								    <td align="center" class="yk_td_title">
										Email
									</td>
									<td class="yk_td_content" style="PADDING-LEFT: 2px;">
									    #EmailText("user.email","$!cmd.user.email",{})
									</td>
									<td align="center" class="yk_td_title">
										描   述
									</td>
									<td class="yk_td_content" colspan="3" >
										#Text("user.descript","$!cmd.user.descript",{})
									</td>
								</tr>
								<tr>
				                        <td align="center" class="yk_td_title">
											登录类型
										</td>
										<td class="yk_td_content" style="PADDING-LEFT: 2px;">
											#Select("user.limitType","$!{cmd.user.limitType}",${cmd.limitTypeOption},"value","label",{"emptyOption":true,"onChange":"ChangeValue()"})
										</td>
										#if($!{cmd.user.limitType}==0)
										<td class="yk_td_content" id="id_h" colspan="4">
										</td>
										#end
										#if($!{cmd.user.limitType}!=0)
										#if($!{cmd.user.limitType}==1)
										<td align="center" class="yk_td_title" id="td_permitNum_t">
											可登录次数：
										</td>
										<td class="yk_td_content" style="PADDING-LEFT: 2px;" id="td_permitNum">
										    <div id="div_permitNum">
										    #NumberText("user.permitNum","$!cmd.user.permitNum",{"required":"true"})
										    </div>
										</td>	
										<td class="yk_td_content" style="PADDING-LEFT: 2px;" id="td_permitNum_kongbai" colspan="2">
										</td>
										#end
										#if($!{cmd.user.limitType}==2)	
										<td align="center" class="yk_td_title" id="td_effectTime_t">
											生效时间：
										</td>
										<td class="yk_td_content" style="PADDING-LEFT: 2px;" id="td_effectTime">
										    <div id="div_effectTime">
										    <!-- #Date("user.effectTime","$!cmd.user.effectTime",{"required":"true"})-->
						                    #Text("user.effect","$!cmd.user.effect",{"required":"true"})
										    </div>
										</td>
										<td align="center" class="yk_td_title" id="td_days_t">
											可使用天数：
										</td>
										<td class="yk_td_content" style="PADDING-LEFT: 2px;" id="td_days" >
										    <div id="div_days">
										    #NumberText("user.days","$!cmd.user.days",{"required":"true"})
										    </div>
										</td>
										#end	
										#end							
								</tr>
							</tbody>
						</table>
			</div>
			<br />
			<div class="yk_NodeTxt">
			<span style="color:#1c3d8a;margin-top:-3px;">分配角色</span>
			</div>
			<div>
						<table align="center" cellpadding="0" cellspacing="0" border="0">
							<tbody>
								<tr>
									<td width="100%" align="center">
										#lrSelect('roleCodes' $unselected $selected '未分配角色' '已分配的角色')
									</td>
								</tr>

							</tbody>
						</table>
			</div>
			<br />
			<div> 
                 <script type="text/javascript">         
                 </script>
						<table align="center">
							<tr>
								<td>
									#ButtonSave({"id":"saveBtn","form":"editForm"})
								</td>
								<td>
									#ButtonClear({})
								</td>
								<td>
								    #ButtonReturn({"url":"#springUrl('')/user/userManager.do?action=queryUser"})
								</td>
							</tr>
						</table>
            </div>
		#FormEnd()
	</body>
</html>
	<script>
	$("#editForm_user_effect").jqInputText();
		$("#editForm_user_effect").datepicker({});
	</script>

