<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	#Head()
<title></title>
</head>

<frameset cols="200,*" frameborder="no" border="5" framespacing="0" rows="*" id="FunFrame">
    <frame src="#springUrl('/func/funcManager.do?action=leftTree&fc=0103')" name="FuncLeft" id="FuncLeft" scrolling="auto" height="500px;"></frame>
	<frame src="#springUrl('/func/funcManager.do?action=queryFunc&func.level=0&fc=0103')" name="FuncMain" scrolling="auto"></frame>
</frameset>
  
<body>
</body>
</html>
